<link href="stylesheets/twotter.css" rel="stylesheet" type="text/css">

<button id = 'logout'>Logout</button>

<div id="wrap">
	<div id="header"><h1 id="welcome"></h1></div>
<!-- 	<div id="nav">
		<ul>
			<li><a href="#">Option 1</a></li>
			<li><a href="#">Option 2</a></li>
		</ul>
	</div> -->
	<div id="main">
		<h2>Twotter</h2>
		{{#if loggedInUser}}
		<form id="new_tool">
			<input class="loggedInUser" type='hidden' name='{{loggedInUser.name}}'>
			<input id="twote_text" type="text"> <br>
			<input id="submit_twote" type="submit" 
			value="Twote"> <br>
		</form>
		{{/if}}
		<br>
		<div class='list_of_twotes'>
			<ul style='list-style-type:none' class="twotesl">
			{{#each twotes}}
				{{> twote_disp}}
			{{/each}}
		</ul>
		</div>


	</div>
	<div id="sidebar">
		<h2>Users</h2>
		<h3>Welcome {{loggedInUser.name}}</h3>
		<ul style='list-style-type:none'>
			{{#each users}}
			<li id='{{this.name}}' class="users">
				{{this.name}}

			</li>
<!-- 			<li><a href="#">Link 2</a></li> -->
			{{/each}}
		</ul>
	</div>

</div>