<link href="stylesheets/twotter.css" rel="stylesheet" type="text/css">

<form id="login">
		<input id="username" type="text" name="name">

		<input id="submit_login" type="submit" value="Login">
	
</form>

<div id="wrap">
	<div id="header"><h1 id="welcome"></h1></div>
<!-- 	<div id="nav">
		<ul>
			<li><a href="#">Option 1</a></li>
			<li><a href="#">Option 2</a></li>
		</ul>
	</div> -->
	<div id="main">
		<h2>Column 1</h2>
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit...</p>
	</div>
	<div id="sidebar">
		<h2>Column 2</h2>
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit...</p>
		<ul>
			<li><a href="#">Link 1</a></li>
			<li><a href="#">Link 2</a></li>
			...
		</ul>
	</div>

</div>