<style>
form{
	padding-bottom: 30px;
}
</style>

<h1>Ingredients</h1>

<form id="new" class=new_form>
	<h3>New Ingredient:</h3>
	<br> 
		Name: <input type="text" name="name">

		Price: <input type="text" name="price">
		<button>Submit</button>
	</br>
</form>

<h3>Ingredients in Stock: </h3>
<ul id="inStock">
{{#each ingList}}
	<form id={{this._id}} class=edit_form>
		<li>Name: {{this.name}}
		Price: {{this.price}}
		Stock:{{this.stock}}
		</li>
		<br>
			<input type="text" name="name">
			<button id=this.name>Edit Name</button>

			<input type="text" name="price">
			<button>Edit Price</button>

			<input type="submit" value="Out of Stock">
		</br>
	</form>
{{/each}}
</ul>